body {
    background-color: black;
}

p {
    color: blanchedalmond;
}

span {
    color: blanchedalmond;
}

a {
    color: blanchedalmond;
}

#test2 {
    color: blanchedalmond;
}

#MyHouse {
    color: blanchedalmond;
}