body {
    background-color: black;
}

#titelbalken {
    display: table;
    background-color: chartreuse;
    border: cornsilk;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    
}

#titel {
    color: black;
    font-size: 18px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

#Test {
    color: rgb(209, 210, 212);
}