body {
    background-color: black;
}

#titelbalken {
    background-color: chartreuse;
    border: cornsilk;
    border-radius: 5px;
    height: 40%;
}

#titel {
    color: black;
    font-size: 18px;
}

#Test {
    color: rgb(209, 210, 212);
}